* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-family: var(--montserrat);
  background: rgba(var(--RichBlack));
  color: rgba(var(--FloralWhite));
}

.App {
  height: 100vh;
  padding: 0 5vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
