* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-family: var(--montserrat);
  background: rgba(var(--RichBlack));
  color: rgba(var(--FloralWhite));
}

.App {
  height: 100vh;
  padding: 0 5vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

:root {
  --h1: 4.25125rem;
  --h2: 2.625rem;
  --h3: 1.61875rem;
  --body: 1rem;
  --secondary: 0.875rem;
  --montserrat: "Montserrat", sans-serif;
  --sourceSansPro: "Source Sans Pro", sans-serif;
}

:root {
  --RichBlack: 13, 19, 33;
  --PrussianBlue: 29, 45, 68;
  --ShadowBlue: 116, 140, 171;
  --FloralWhite: 249, 247, 240;
}

header {
  width: 100%;
  padding: 6vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  user-select: none;
  cursor: pointer;
}

.logout {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.logout__text {
  font-family: var(--sourceSansPro);
  font-size: 1.25rem;
}
.logout__username {
  font-weight: bold;
}
.logout__button {
  padding: 1vh 2vw;
  font-family: var(--montserrat);
  font-size: 1.25rem;
  background: none;
  border: 1px solid rgba(var(--FloralWhite));
  border-radius: 10px;
  color: rgba(var(--FloralWhite));
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.logout__button:hover {
  background: rgba(var(--FloralWhite));
  color: rgba(var(--RichBlack));
}

.login {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.login__title {
  margin-bottom: 8vh;
  font-size: 3.5rem;
}
.login__signup {
  font-size: 1.25rem;
  color: rgba(var(--FloralWhite));
}
.login__link {
  font-weight: bold;
  color: rgba(var(--FloralWhite));
  transition: all 150ms ease-in-out;
}
.login__link:hover {
  color: rgba(var(--ShadowBlue));
}

.form {
  width: 100%;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.field__label {
  font-size: 1.5rem;
}
.field__input {
  padding: 1.5vh 1vw;
  font-family: var(--sourceSansPro);
  font-size: 1.25rem;
  color: rgba(var(--FloralWhite));
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(var(--FloralWhite));
}
.field__button {
  width: fit-content;
  margin-top: 4vh;
  padding: 1vh 2vw;
  align-self: center;
  font-family: var(--monteserrat);
  font-size: 1.5rem;
  border: 1px solid rgba(var(--FloralWhite));
  border-radius: 10px;
  background: none;
  color: rgba(var(--FloralWhite));
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.field__button:hover {
  color: rgba(var(--RichBlack));
  background: rgba(var(--FloralWhite));
}

.register {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.register__title {
  margin-bottom: 8vh;
  font-size: 3.5rem;
}
.register__login {
  font-size: 1.25rem;
  color: rgba(var(--FloralWhite));
}
.register__link {
  font-weight: bold;
  color: rgba(var(--FloralWhite));
  transition: all 150ms ease-in-out;
}
.register__link:hover {
  color: rgba(var(--ShadowBlue));
}

.form {
  width: 100%;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.form__button {
  width: fit-content;
  margin-top: 4vh;
  padding: 1vh 2vw;
  align-self: center;
  font-family: var(--monteserrat);
  font-size: 1.5rem;
  border: 1px solid rgba(var(--FloralWhite));
  border-radius: 10px;
  background: none;
  color: rgba(var(--FloralWhite));
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.form__button:hover {
  color: rgba(var(--RichBlack));
  background: rgba(var(--FloralWhite));
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.field__label {
  font-size: 1.5rem;
}
.field__input {
  padding: 1.5vh 1vw;
  font-family: var(--sourceSansPro);
  font-size: 1.25rem;
  color: rgba(var(--FloralWhite));
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(var(--FloralWhite));
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  background: rgba(var(--RichBlack), 0.75);
}

.loader {
  width: 30vw;
  padding: 0.8vh 0.75vw;
  display: flex;
  justify-content: flex-start;
  background: white;
  border-radius: 10px;
}
.loader__text {
  font-size: 1.5rem;
  font-weight: bold;
}
.loader__bar {
  height: 1rem;
  background: rgba(var(--PrussianBlue));
  border-radius: 6px;
}

.homepage {
  width: 100%;
  margin: auto;
}

.start-menu {
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start-menu__title {
  font-size: 3.25rem;
  margin-bottom: 2vh;
}
.start-menu__desc {
  font-family: var(--sourceSansPro);
  font-size: 1.5rem;
  margin-bottom: 4vh;
}
.start-menu__start {
  padding: 2vh 4vw;
  font-family: var(--montserrat);
  font-size: 1.25rem;
  font-weight: bold;
  background: none;
  color: rgba(var(--FloralWhite));
  border: 1px solid rgba(var(--FloralWhite));
  border-radius: 10px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.start-menu__start:hover {
  background: rgba(var(--FloralWhite));
  color: rgba(var(--RichBlack));
}

.timer {
  width: 100%;
  padding: 4vh 0;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
}
.timer__text {
  font-size: 1.5rem;
}
.timer__time {
  font-size: 1.75rem;
  font-weight: bold;
  color: lightblue;
}

.question {
  padding-bottom: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question__title {
  font-size: 4rem;
  margin-bottom: 4vh;
}
.question__question {
  margin-bottom: 8vh;
  font-size: 1.75rem;
  text-align: center;
}

.options {
  display: flex;
  gap: 4vw;
}
.options__option {
  padding: 2vh 4vw;
  font-family: var(--montserrat);
  font-size: 1.25rem;
  background: none;
  border: 1px solid rgba(var(--FloralWhite));
  border-radius: 10px;
  color: rgba(var(--FloralWhite));
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.options__option:hover {
  background: rgba(var(--FloralWhite));
  color: rgba(var(--RichBlack));
}

.end-menu {
  padding-bottom: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.end-menu__title {
  font-size: 4rem;
  margin-bottom: 4vh;
}
.end-menu__desc {
  font-family: var(--sourceSansPro);
  font-size: 1.5rem;
  margin-bottom: 4vh;
}
.end-menu__reset {
  padding: 2vh 4vw;
  font-family: var(--montserrat);
  font-size: 1.5rem;
  font-weight: bold;
  background: none;
  border: 1px solid rgba(var(--FloralWhite));
  border-radius: 10px;
  color: rgba(var(--FloralWhite));
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.end-menu__reset:hover {
  background: rgba(var(--FloralWhite));
  color: rgba(var(--RichBlack));
}

.bold {
  font-weight: bold;
}

.correct {
  color: lightgreen;
}

/*# sourceMappingURL=style.css.map */
