@use "../utils/breakpoints.scss" as *;

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh;

  @include breakpoint(tablet) {
    gap: 6vh;
  }

  &__button {
    width: fit-content;
    margin-top: 4vh;
    padding: 1vh 2vw;
    align-self: center;
    font-family: var(--monteserrat);
    font-size: 1.5rem;
    border: 1px solid rgba(var(--FloralWhite));
    border-radius: 10px;
    background: none;
    color: rgba(var(--FloralWhite));
    transition: all 250ms ease-in-out;
    cursor: pointer;

    @include breakpoint(SDesktop) {
      padding: 2vh 4vw;
    }

    @include breakpoint(tablet) {
      padding: 2vh 6vw;
      font-size: 1.75rem;
    }

    @include breakpoint(phone) {
      margin-top: 0;
      padding: 1.5vh 6vw;
      font-size: 1.5rem;
    }

    &:hover {
      color: rgba(var(--RichBlack));
      background: rgba(var(--FloralWhite));
    }
  }
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;

  @include breakpoint(SDesktop) {
    gap: 0.5vh;
  }

  @include breakpoint(tablet) {
    gap: 1vh;
  }

  @include breakpoint(phone) {
    gap: 0.75vh;
  }

  &__label {
    font-size: 1.5rem;

    @include breakpoint(SDesktop) {
      font-size: 1.25rem;
    }

    @include breakpoint(tablet) {
      font-size: 1.75rem;
    }

    @include breakpoint(phone) {
      font-size: 1.25rem;
    }
  }

  &__input {
    padding: 1.5vh 1vw;
    font-family: var(--sourceSansPro);
    font-size: 1.25rem;
    color: rgba(var(--FloralWhite));
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(var(--FloralWhite));

    @include breakpoint(SDesktop) {
      font-size: 1.1rem;
    }

    @include breakpoint(tablet) {
      font-size: 1.5rem;
    }

    @include breakpoint(phone) {
      font-size: 1.1rem;
    }
  }
}
