@use "../utils/breakpoints.scss" as *;
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  background: rgba(var(--RichBlack), 0.75);

  @include breakpoint(phone) {
    gap: 2vh;
  }
}

.loader {
  width: 30vw;
  padding: 0.8vh 0.75vw;
  display: flex;
  justify-content: flex-start;
  background: white;
  border-radius: 10px;

  @include breakpoint(phone) {
    width: 60vw;
    padding: 1vh 2.25vw;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__bar {
    height: 0.75rem;
    background: rgba(var(--PrussianBlue));
    border-radius: 6px;
  }
}
