@use "../utils/breakpoints.scss" as *;

.login {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include breakpoint(SDesktop) {
    min-width: 60vw;
  }

  @include breakpoint(tablet) {
    min-width: 70vw;
  }

  @include breakpoint(phone) {
    min-width: 75vw;
  }

  &__title {
    margin-bottom: 8vh;
    font-size: 3.5rem;

    @include breakpoint(SDesktop) {
      font-size: 3.1rem;
    }

    @include breakpoint(tablet) {
      text-align: center;
      font-size: 3.5rem;
    }

    @include breakpoint(phone) {
      font-size: 2.25rem;
    }
  }

  &__signup {
    margin-top: 8vh;
    font-size: 1.25rem;
    color: rgba(var(--FloralWhite));

    @include breakpoint(SDesktop) {
      font-size: 1.1rem;
    }

    @include breakpoint(tablet) {
      width: 100%;
      margin-top: 16vh;
      font-size: 1.25rem;
      text-align: center;
    }

    @include breakpoint(phone) {
      margin-top: 6vh;
      font-size: 1.15rem;
    }
  }

  &__link {
    font-weight: bold;
    color: rgba(var(--FloralWhite));
    transition: all 150ms ease-in-out;

    &:hover {
      color: rgba(var(--ShadowBlue));
    }
  }
}
